*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Poppins',sans-serif;
}
/* main navbar */
#navbar 
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#links
{
    display: flex;
    column-gap: 15px;
}
#links a
{
    text-decoration: none;
    color: #1d232c;
}
#links a:hover
{
    text-decoration: underline;
    color: #1d232c;
}
#toggle
{
    display: none;
}
#toggle:hover
{
    cursor: pointer;
}
/*Cross Navbar*/
#cross-navbar
{
    width: 50%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: -60%;
    color: white;
}
#cross-link1
{
    margin-top: 20px;
    margin-bottom: 30px;
}
#cross-links a
{
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
/*Header*/
#header
{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}
#header-button
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1d232c;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
/*Service*/
#service
{
    padding: 20px;
}
#service1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#service2
{
    display: flex;
    padding: 20px;
}
#service2 div
{
    background-color: rgb(204, 195, 195);
    margin-left: 5px;
    border: solid 2px gray;
}
#service2 div:hover
{
    background-color: rgb(124, 116, 116);
    margin-left: 5px;
    border: solid 2px gray;
    cursor: pointer;
}
/*New arrival*/
#new-arrivals
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#new-arrivals div
{
    flex-basis: 20%;
    position: relative;
}
#new-arrivals div button
{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    position: absolute;
    top: 60%;
    left: 18%;
    border: none;
    border-radius: 10px;
}
#new-arrivals div button:hover
{
    cursor: pointer;
}
/*News*/
#News
{
    text-align: center;
    margin-top: 20px;
}
#News #userinp
{
    padding: 11px;
    width: 100vh;
    border: solid black 5px;
}
#News button
{
    margin-top: 15px;
    padding: 10px;
    background-color: #1d232c;
    color: white;
    border-radius: 10px;
}
/*Footer*/
#footer
{
    height: 40%;
    margin-top: 20px;
    background-color: #000000;
    position: absolute;
    width: 100%;
    color: #ffff;
    display: flex;
    flex-wrap: wrap;
}
#footer1
{
    margin-top: 40px;
    margin-left: 10%;
}
/*Collections*/
#search
{
    text-align: center;
    margin-top: 40px;
}
#search input
{
    font-size: large;
    border: solid black 2px;
    width: 1000px;
    padding: 20px;
}
#items
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 25%;
    column-gap: 20px;
}
/*Contact*/
#Form
{
    text-align: center;
    margin: 20px;
    width: 97%;
    height: 70%;
    border-radius: 10px;
    position: absolute;
    background-color:#1d232c;
    color: white;
    font-size: large;
    display: block;
}
#Form input
{
    margin: 10px;
    padding: 20px;
    width: 40%;
    font-size: large;
}
#Form p
{
    margin-top: 20px;
    text-align: left;
    margin-left: 380px;
}
#Form button
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    background-color: #6a96d8;
    border-radius: 5px;
}
#Form button:hover
{
    cursor: pointer;
}
/*Media Query*/
@media screen and (max-width:600px)
{
    #toggle
    {
        display: block;
    }
    #links a
    {
        display: none;
    }
    #images
    {
        display: none;
    }
    #service1
    {
        display: none;
    }
    #service2
    {
        flex-direction: column;
    }
}